@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@font-face {
    font-family: 'MyFont';
    src: local('MyFont'), url('../../../Fonts/BasementGrotesque-Bold.ttf') format('truetype');

}

#heading {
    font-family: MyFont;
    cursor: pointer;
    transition: 0.3s;

}
#heading:hover {

    color: #d6a549;
    letter-spacing: 2px;
    transition: 0.3s;
}

