.input-area {
    display: flex;
    padding: 10px;
    background-color: #f0f0f0;
    gap: 10px;
}

.input-text {
    flex-grow: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.input-text:focus {
    outline: none;
}

.input-button {
    padding: 10px;
    background-color: #0084ff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 2px;
    width: 100px;
}