.chat-window {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    background-color: #f0f0f0;
    height: 80%;
}

.messages-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}